{{- define "assets" -}}
    {{- range (readDir .dir) -}}
        {{- $path := printf "%v/%v" $.dir .Name -}}
        {{- if .IsDir -}}
            {{- if (strings.HasSuffix $path "-dev") -}}
                {{- return -}}
            {{- else -}}
                {{- template "assets" (dict "dir" $path) -}}
            {{- end -}}
        {{- else -}}
            <!-- For each static directory we want to strip anything before static -->
            {{- $sections := split $path "static" -}}
            {{- $path = index $sections 1 -}}

            <!-- Add all the css files -->
            {{- if and (strings.HasSuffix $path ".css") (not (strings.HasSuffix $path ".min.css"))  -}}
                <link rel="stylesheet" href="{{- $path -}}" class="hopin-styleguide all-styles">
            {{- end -}}

            <!-- Add all the JS files -->
            {{- if strings.HasSuffix $path "js"  -}}
                <script type="text/javascript" src="{{- $path -}}"></script>
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- range (slice "/themes") -}}
    {{- template "assets" (dict "dir" .) -}}
{{- end -}}