<header class="n-hopin-styleguide-c-styleguide-header">
  <div class="n-hopin-styleguide-c-styleguide-header__btn c-styleguide-header__menu">
    <label for="n-hopin-styleguide-l-main__sidebar-checkbox">{{ partial "styleguide/svg/menu.svg" }}</label>
  </div>
  <div class="n-hopin-styleguide-c-styleguide-header__logo"></div>
  <div class="n-hopin-styleguide-c-styleguide-header__title"><a class="n-hopin-styleguide-c-styleguide-header__link" href="/">Style Guide</a></div>
  <div class="n-hopin-styleguide-c-styleguide-header__btn">
    <label for="n-hopin-styleguide-c-grid-overlay__checkbox">{{ partial "styleguide/svg/grid.svg" }}</label>
  </div>
</header>