<!-- Since we are in a dev environment, we want the unminified version of everything -->
{{- define "dev-assets-file" -}}
  {{- if not (strings.HasPrefix $.name "_") -}}
    <!-- For each static directory we want to strip anything before static -->
    {{- $sections := split $.path "static" -}}
    {{- $path := index $sections 1 -}}

    <!-- Add all the css files. -->
    {{- if and (strings.HasSuffix $path ".css") (not (strings.HasSuffix $path ".min.css")) -}}
      <link rel="stylesheet" href="{{- $path -}}">
    {{ end -}}

    <!-- Add all the JS files. -->
    {{- if and (strings.HasSuffix $path "js") (not (strings.HasSuffix $path ".min.js")) -}}
      <script type="text/javascript" src="{{- $path -}}"></script>
    {{ end -}}
  {{- end -}}
{{- end -}}

{{- define "dev-assets-dir" -}}
  {{- range (readDir $.dir) -}}
    {{- $path := printf "%v/%v" $.dir .Name -}}
    {{- if .IsDir -}}
      {{- template "dev-assets-dir" (dict "dir" $path) -}}
    {{- else -}}
      {{- template "dev-assets-file" (dict "path" $path "name" .Name) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if $.Site.IsServer -}}
{{- range (slice "/themes" "/static") }}
  {{ template "dev-assets-dir" (dict "dir" .) }}
{{ end -}}
{{- end -}}