{{- define "load-static-css" -}}
  {{- range (readDir $.dir) -}}
    {{- $path := printf "%v/%v" $.dir .Name -}}
    {{- if .IsDir -}}
      {{- if not (eq $path "/themes/hopin-styleguide-build") -}}
        {{- template "load-static-css" (dict "suffix" $.suffix "dir" $path) -}}
      {{- end -}}
    {{- else -}}
      <!-- For each static directory we want to strip anything before static -->
      {{- $sections := split $path "static" -}}
      {{- $path = index $sections 1 -}}

      {{- if strings.HasSuffix $path $.suffix  -}}
        <link rel="stylesheet" href="{{- $path -}}" class="hopin-styleguide load-static-css">
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- range (slice "/themes" "/static") -}}
    {{- template "load-static-css" (dict "suffix" $.Params.suffix "dir" .) -}}
{{- end -}}